{% extends "adminlte/login.html" %}
{% load django_bootstrap5 %}


{% block logo %}
        <div class="login-logo">
            {# Mirrors block names used in _main_header.html #}
            <a href="{% block logo_href %}/{% endblock %}">{% block logo_text %}<b>E-DIARISTAS</b>{% endblock %}</a>
        </div>
{% endblock %}


{% block login_form %}
    <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">Resetar Senha</div>
            </div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form%}
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
{% endblock login_form %}