{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %} 
        Cadastro de Usuário
{% endblock title %}

{% block content %}
        <div class="card card-primary">
            <div class="card-header">
                <div class="card-title">Cadastro de Usuário</div>
            </div>
            <div class="card-body">

                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {% bootstrap_field form_usuario.username %}
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% bootstrap_field form_usuario.first_name %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% bootstrap_field form_usuario.email %}
                            </div>
                        </div>
                    </div>
                    {% if form_usuario.password1 %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% bootstrap_field form_usuario.password1 %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {% bootstrap_field form_usuario.password2 %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </form>
            </div>
        </div>
{% endblock content %}